<div class="container">
  <div *ngIf="furniture !== undefined; else elseBlock">
    <div [hidden]="submitted">
      <h1>ID: {{furniture.id}} {{furniture.name}} </h1>
      <form (ngSubmit)="onSubmit()" #furnitureForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="furniture.name" name="name"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="room">Assign to Room</label>
          <select class="form-control" id="room"
                  [(ngModel)]="furniture.roomId" name="room">
            <option *ngFor="let room of rooms" [value]="room.id">{{room.name}}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!furnitureForm.form.valid"
                (click)="update();">
          Submit</button> |
        <button type="cancel" class="btn btn-default"><a routerLink="/furniture">
          Cancel</a></button> |
        <button type="delete" class="btn btn-danger" (click)="delete(furniture.id);">
          Delete
        </button>
      </form>
    </div>
    <div [hidden]="!submitted">
      <h2>{{ furniture.name }} been Changed!</h2>
    </div>
  </div>
  <ng-template #elseBlock>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>

